semanticdb/*
auto-save-list/*
url/*
elpa/*
## exported and encrypted files
*gpg
*elc
*html
*tex
*pdf
*txt
## ignore mail/gnus cruft for those who keep mail in this directory
drafts
Mail
mail
.newsrc-dribble
.nnmail-cache
*.SCORE
marks
.session
scratch
secret.org
.emacs.desktop*
#TAGS#
#cruft.el#
#org-clock-save.el#
%backup%~
.org-id-locations
.python-environments/
.sx/
TAGS
ac-comphist.dat
backup/
emms/
places
plantuml.jar
tramp
tutorial/
var/
org-clock-save.el
*~
.DS_Store
bookmarks
ido.last
recentf
smex-items
srecode-map.el